[submodule "06-stsw"]
	path = 06-stsw
	url = https://github.com/Falizz/stsw.git
[submodule "06-so"]
	path = 06-so
	url = https://github.com/Falizz/SO-IDP.git
[submodule "05-pc/exercicios"]
	path = 05-pc/exercicios
	url = https://github.com/Falizz/PC-IDP.git
[submodule "05-pc/tf"]
	path = 05-pc/tf
	url = https://github.com/Falizz/Tedax_Game.git
[submodule "03-tpaa/2025.2-monitor"]
	path = 03-tpaa/2025.2-monitor
	url = https://github.com/Falizz/Monitoria-TPAA.git
[submodule "03-tpaa/exercicios"]
	path = 03-tpaa/exercicios
	url = https://github.com/falizz-college/03-tpaa.git
[submodule "03-poo"]
	path = 03-poo
	url = https://github.com/Falizz/POO-IDP.git
[submodule "01-alp"]
	path = 01-alp
	url = https://github.com/falizz-college/01-alp.git
[submodule "01-lc"]
	path = 01-lc
	url = https://github.com/falizz-college/01-lc.git
[submodule "02-ed"]
	path = 02-ed
	url = https://github.com/falizz-college/02-ed.git
[submodule "02-est"]
	path = 02-est
	url = https://github.com/falizz-college/02-est.git
[submodule "03-ml"]
	path = 03-ml
	url = https://github.com/falizz-college/03-ml.git
