[submodule "06-stsw"]
	path = 06-stsw
	url = https://github.com/Falizz/stsw.git
[submodule "06-so"]
	path = 06-so
	url = https://github.com/Falizz/SO-IDP.git
[submodule "05-pc/exercicios"]
	path = 05-pc/exercicios
	url = https://github.com/Falizz/PC-IDP.git
[submodule "05-pc/tf"]
	path = 05-pc/tf
	url = https://github.com/Falizz/Tedax_Game.git
[submodule "03-tpaa/2025.2-monitor"]
	path = 03-tpaa/2025.2-monitor
	url = https://github.com/Falizz/Monitoria-TPAA.git
[submodule "03-tpaa/exercicios"]
	path = 03-tpaa/exercicios
	url = https://github.com/Falizz/TAA-IDP.git
